@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*Header*/
header{
    width: 100%;
    height:max-content;
    background: #16782E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1em 0;
}
header a#logoCabecera{
    justify-self: left;
    padding-left: 1em;
}
header img{
    width: 25em;
}
header h1{
    color: white;
    font-size: 2em;
    justify-self: center;
}
header a, header div#userLogin{
    justify-self: right;
    margin-right: 1em;
}

span#usuarioLogin{
    color: white;
    font-size: 1.4em;
    margin-right: 0.7em;
}

/*Nav*/
nav#menu{
    background-color:#16782E;
}
nav#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-size:1.2em;
    padding: 0.8em 0.5em;
    letter-spacing:1px;
}
nav#menu ul li {
    float:left;
    margin:0;
    padding:0;
}
nav#menu ul li:hover {
    background:#5ec475;
}

/*Footer*/
footer{
    background-color: #16782E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
}

footer #datos{
    justify-self: left;
    margin-left: 1em;
    color: white;
    font-size: 1.1em;
}

footer #mapa{
    justify-self: center;
}

footer #redesFooter{
    justify-self: right;
    margin-right: 1em;
    color: white;
    font-size: 1.2em;
}

#redesFooter img{
    width: 1.8em;
}

/*cuerpo*/
#cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


/*Botones*/
.btnCabecera{
    border-radius: 1em;
    background: white;
    color: black;
    text-decoration: none;
    padding: 0.7em;
    font-size: 1.4em;
}

.btnCabecera:hover{
    background: #c4ddca;
}
    /*Botones de cada pantalla (enviar formulario)*/
.btnPantalla{
    border: none;
    border-radius: 1em;
    background: #16782E;
    color: white;
    text-decoration: none;
    padding: 0.7em;
    font-size: 1.3em;
    cursor: pointer;
}

.btnPantalla:hover{
    background: #5ec475;
}

/*Boton para realizar solicitud a convocatoria activa*/
.btnRealizarSolicitud{
    border-radius: 1em;
    border: none;
    background-color: #16782E;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    margin-left: 1em;
}

.btnRealizarSolicitud:hover{
    background: #5ec475;
}

/*Configurar el aspecto general del main*/

main{
    background-color: #EDEDED;
    border-radius: 1em;
    padding: 1em;
}

/*Ver convocatorias*/
main#verConvocatorias div{
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}

/*Listado de convocatorias activas*/
table#listadoConvocatorias{
    min-width: 70em;
    text-align: center;
}
table#listadoConvocatorias th{
    padding: 0.1em 1.2em 0.1em 1.2em;
}


/*Autentifica / Login*/

main#autentifica form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
main#autentifica form h2{
    font-size: 1.5em;
}

main#autentifica form input{
    border-radius: 1em;
    border: none;
    padding: 0.5em;
    margin-bottom: 0.7em;
    font-size: 1.1em;
}

/*Crear convocatoria*/
main#crudConvocatoria{
    
}
