<!DOCTYPE html>
<tr>
    <th><input type="checkbox" name="itemBaremable" class="checkItem"></th>
    <th><span class="nombreItem"></span></th>
    <th><input type="number" name="nota" class="notaItem" disabled></th>
    <th><select name="requsitoItem" class="requsitoItem" disabled>
        <option value="si">Si</option>
        <option value="no">No</option>
    </select></th>
    <th><input type="number" name="valorMin" class="valorMinItem" disabled></th>
    <th><select name="aportaAlumnoItem" class="aportaAlumnoItem" disabled>
        <option value="si">Si</option>
        <option value="no">No</option>
    </select></th>
</tr>