<!DOCTYPE html>
<tr>
  <td><input type="text" class="proyectoConvocatoria" readonly /></td>
  <td><input type="text" class="numMovilidadesConvocatoria" readonly /></td>
  <td><input type="text" class="duracionConvocatoria" readonly /></td>
  <td><input type="text" class="tipoConvocatoria" readonly /></td>
  <td><input type="text" class="inicioSolicitues" readonly /></td>
  <td><input type="text" class="finSolicitudes" readonly /></td>
  <td><input type="text" class="inicioPruebas" readonly /></td>
  <td><input type="text" class="finPruebas" readonly /></td>
  <td><input type="text" class="listadoProvisional" readonly /></td>
  <td><input type="text" class="listadoDefinitivo" readonly /></td>
  <td><input type="text" class="destinoConvocatoria" readonly /></td>
  <td>
    <form action="" method="post">
      <input type="text" name="idConvocatoria" class="idConvocatoria" />
      <input type="submit" name="accion" value="Modificar" class="btnPantalla"/>
      <input type="submit" name="accion" value="Eliminar" class="btnPantalla" />
    </form>
  </td>
</tr>
