<!DOCTYPE html>
<tr>
  <td><span class="dni"></span></td>
  <td><span class="apellidos"></span></td>
  <td><span class="nombre"></span></td>
  <td><span class="fechaNac"></span></td>
  <td><span class="telefono"></span></td>
  <td><span class="correo"></span></td>
  <td>
    <form action="" method="post">
      <input type="hidden" name="id" class="id">
      <input type="hidden" name="idConvocatoria" class="idConvocatoria"/>
      <input type="submit" value="Baremacion" name="baremacion" class="btnRealizarSolicitud" />
    </form>
  </td>
</tr>
