<!DOCTYPE html>
<h1>Confirmación de Solicitud de Beca Erasmus</h1>
    <p>Estimado/a solicitante,</p>
    <p>Nos complace informarle que hemos recibido su solicitud para la Beca Erasmus. A continuación, encontrará los detalles de su solicitud que puede utilizar para realizar consultas sobre el estado de la misma.</p>
    <p><strong>Por favor, mantenga esta información en un lugar seguro y no la comparta con nadie.</strong></p>
    <table>
        <tr>
            <td><strong>ID de la Solicitud:</strong></td>
            <td>{idSolicitud}</td>
        </tr>
        <tr>
            <td><strong>DNI:</strong></td>
            <td>{dni}</td>
        </tr>
        <tr>
            <td><strong>Contraseña:</strong></td>
            <td>{pass}</td>
        </tr>
    </table>
    <p>Si tiene alguna pregunta o necesita asistencia adicional, no dude en ponerse en contacto con nosotros.</p>
    <p>Le deseamos mucho éxito en su solicitud.</p>
    <p>Atentamente,</p>
    <p>El equipo de IES Las Fuentezuelas</p>