<!DOCTYPE html>
<h2>SOLICITUD DE INSCRIPCIÓN EN EL PROYECTO ERASMUS+</h2>
<p>El/La solicitante, D./Dª {apellido} {nombre}, con DNI {dni}, domiciliado en {direccion}, teléfono de contacto {telefono} ,correo electrónico {email} <br>
    En caso de ser menor de edad, D. {apellidoTutor} {nombreTutor}, representante legal, con DNI {tutor}, domiciliado en {direccionTutor} y teléfono de contacto {telefonoTutor}.
</p>
<h3>EXPONE/N</h3>
<p>Que está matriculado/a en el IES Las Fuentezuelas en {curso},
    que son ciertos los datos que figuran en esta instancia, que cumple los requisitos para
    obtener la condición de beneficiario establecidos en las bases de la convocatoria del
    programa de movilidad de prácticas Erasmus+ del IES Las Fuentezuelas del curso
    académico 2023/24 y que la documentación presentada es copia fiel del original.
</p>
<p>Por lo expuesto</p>
<h3>SOLICITAN</h3>
<p>Participar en la selección de alumnado en el <strong>{nombreProyecto}</strong>, con número de proyecto: {codigoProyecto}, y que le sea concedida 
    una ayuda para la realización de prácticas en empresas de otros países de la Unión Europea.
</p>

<p>En Jaén, a {dia} de {mes} de {anio}</p>

<p>Documentación que se adjunta:</p>
{items}

<p style="text-align: center;">SRA. DIRECTORA DEL IES LAS FUENTEZUELAS</p>